*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Roboto',sans-serif ;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #333;
}
/* main */
main{
    margin-top: 20px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;

}
/* Section */
.section{
    margin-bottom: 50px;
}
.section h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* Header */
header{
    background-color: white;
    border-bottom: 1px solid #eee;
}
header .container{
    max-width: 900px;
    margin: 0 auto;
    padding: 10px o;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.logo img{
    width: 33px ;
}
nav{
    display: flex;
    gap: 20px;
}
nav a:hover{
    text-decoration: underline;
    color:green;
}
/* Hero */
.hero {
    position: relative;

}
.hero-banner{
    width: 100%;
    height: 300px;
}
.hero-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-avatar {
    width: 160px;
    height: 160px;
    position: absolute;
    bottom: -80px;
    left: 20px;

}
.hero-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);

}
/* Introduction */
.intro{
    margin-top: 90px;
}
.intro-name{
    font-size: 30px;
    font-weight: 500;
    margin: 5px;
}
.inro-desc{
    font-size: 16px;
    color: #373737;
    margin: 20px;
}
/* About */
.about{
    margin-top: 50px;

}
.about-desc {
    font-size: 14px;
    color: #373737;
    margin-bottom: 10px;
    line-height: 1.5;

}
/* Certified cource */
.exp-item{
    display: flex;
    margin-top: 40px;

}
.exp-org-img {
    width: 50px;
    height: 50px;
    margin-right: 20px;

}
 .exp-org-img img{
    width: 100%;
    height: 100%;
    object-fit:cover ;
    object-position:center;
    border-radius: 50%;
} 
.role-name{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.role-org-name,.role-duration{
    font-size: 14px;
    color: #464646;
    font-weight: 500;
}
.role-desc{
    font-size: 14px;
    color: #373737; 
    margin-bottom: 5px;
}
.role-desc ul{
    padding: 20px;
}
/* Education Sesction */
.edu-item{
    display: flex;
    margin-top: 40px;
}
.edu-img{
    width: 48px;
    height: 48px;
    margin-right: 20px;
}
.edu-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.edu-name{
    font-size: 16px;
    color: #464646;
    font-weight: 600;
    margin-bottom: 5px;
}
.edu-org-name{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
}
.edu-pecentage{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
}
.edu-duration{
    font-size: 15px;
     color: #373737; 
    font-weight: 200;
    margin-bottom: 5px;
    
}
/* Contact Section */
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.contact-details a:hover{
    color: #686868;
    text-decoration: underline;
}
/* Footer */
footer {
    display: flex;
    justify-content: center ;

}

